* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffed7a;
  margin: 0;
  padding: 0;
}

.all-container {
  display: grid;
}

.container {
  max-width: 100%;
  margin: 30px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

h2 {
    margin-top: 0px;
}

h3 {
  margin-bottom: 5px;
}

.profile {
  display: inline-block;
  margin-top: 10px;
}

.profile .row {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 7px;
}

.profile .row span:first-child {
  font-weight: 600;
}

.date-time {
  font-size: 13px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.task-input {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}

textarea {
  resize: none;
  height: 80px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ffdb64;
  font-size: 12px;
  background-color:#f0f8ff;
}

.priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #ffdb64;
  width: 100px;
  font-size: 13px;
  color: #333;
  background-color:#f0f8ff;
}

::placeholder {
  font-size: 13px;
  color:#0056b3;
}

button {
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.button-bawah {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

button:hover {
  background: #0056b3;
}

.todo-section {
  margin-top: 25px;
}

.todo-section h3 {
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 12px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f8ff;
  margin: 6px 0;
  padding: 8px 10px;
  border-radius: 6px;
}

li.done {
  background: #d4edda;
}

li.overdue {
  background: #ffe5e5;
  border: 1px solid #ff3b3b;
}

li strong {
  margin-right: 6px;
  color: #333;
}

.time-stamp {
  font-size: 12px;
  color: #666;
}

.name-todo {
  font-size: 12px;
}

.checkbox {
    align-content: center;
}

.checkbox-todo {
    display: flex;
    gap: 10px;
}

.checkbox-todo-done {
    display: flex;
    gap: 10px;
    text-decoration: line-through;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

.delete-btn {
  font-size: 12px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}


.box {
      width: 60px;
      height: 60px;
      border-radius: 8px;
      background-color: green;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      transition: background-color 0.3s;
      margin-bottom: 10px;
    }